/* Used Colors:
Grays:
#ffffff - menu background (white)
#f9f9f9 - page background
#eeeeee - well background
#808080 - menu/well/collapsible shadow (gray)
#d3d3d3 - "Coming Soon" background (lightgrey)

Blues:
#e6f9ff - header background, status message background
#00bfff - unvisited link (deepskyblue)
#6495ed - visited link (cornflowerblue)

Reds/pinks:
#f08080 - "Coming Soon" text, error message (lightcoral)
#fff0f0 - error message background (lavenderblush)

Greens:
#ccffe6 - status message background
#00cc66 - status message
*/

html{
    background-color:#f9f9f9;
    padding: 0px 40px;
    font-family: Calibri;
    font-size: 15px;
}

.header{
    background-color: #e6f9ff;
    position:absolute;
    top: 0;
    left:0;
    right: 0;
    padding: 10px;
    box-shadow: 0 0 3px gray;
}

.h1{
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    font-weight: bold;
}

.h2{
    font-style: italic;
    font-weight: lighter;
    font-size: 15px;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
}

#main{
    margin-right: 20px;
    width: 100%;
}

ul{
    padding-left: 20px;
    margin: 0px;
}

li{
    margin:5px 0px;
}

.menu{
    max-width: 250px;
    min-width: 230px;
}
.menuItem{
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 3px gray;
    margin-bottom: 15px;
    padding: 10px
}

.menuHead{
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
    
}

.menuContent p{
    margin: 5px 0px;
}

.well{
    background-color: #eeeeee;
    box-shadow: inset 0 0 2px gray;
    border-radius:0px 0px 4px 4px;
}

.answer{
    text-align: right;
    font-weight: bold;
}
.content > * {
    margin: 15px;
}

.collapsible{
    min-width: 100%;
    text-align: left;
    min-height: 40px;
    margin-top: 20px;
    border-radius: 3px;
    border:0;
    box-shadow: 0 0 3px gray;
    border-bottom:0px;
    font-weight: bold;
}

.content{
    max-height: 0;
    transition: max-height 0.9s ease-out/*, padding 0.05s ease-out*/;
    overflow: hidden;
    padding-top: 0px;
    box-shadow: 0 0 3px gray;
    background-color: #ffffff;
    border-radius:0px 0px 4px 4px;
}

code.buttonStyle{
    border-radius: 2px;
    padding: 2px;
    background-color: #d3d3d3;
    font-size: 13px;
    border-color: #808080;
    border-width: 1px;
    border-style: groove;
}

.comingSoon{
    background-color: lightgrey;
    font-size: x-small;
    color: lightcoral;
    padding: 2px;
    width: fit-content;
    border-radius: 2px;
    display: inline;
    font-weight: normal;
}
/* following both remove arrows from number input*/
input[type=number]{
    width: 35px; 
    text-align: center;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Toggle Button*/
.switch{
    display: inline-block;
    position: relative;
    background-color: #808080;
    width: 35px;
    height: 20px;
    border-radius: 10px;
    margin-left: 5px;
}

.switch input {
    opacity: 0;
    height: 0;
    width: 0;
}

.slider{
    position: absolute;
    left:0;
    top:0;
    width: 35px;
    height: 20px;
    border-radius: 10px;
}
input:checked+.slider {
    background-color: #00bfff;
}

.slider::before{ /*white button part*/
    content: "";
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    transition: .2s;
}

input:checked+.slider::before {
    transform: translateX(15px);
}

#statusBox{
    padding: 0 5px;
    border-radius: 3px;
    border-width: 1.5px;
    border-style: solid;
    font-size: small;
}
.status{
    background-color: #e6f9ff;
    color: deepskyblue;
}

.error{
    color: lightcoral;
    background-color: lavenderblush;
}

.confirmation{
    background-color: #ccffe6;
    color: #00cc66;
}

a:link{
    color: deepskyblue;
}
a:visited{
    color:cornflowerblue;
}
